* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    color: rgb(255, 136, 0);;
    background-image: url(/Assets/images/bgHeader.png);
    background-position: center;
    height: 780px;
    width: 100%;
    justify-content: center;
}

h1 {
    display: flex;
    font-size: 80px;
    justify-content: center; 
    margin-bottom: 20px;   
}

h2 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 110px;
    color: rgb(112, 112, 112);
}

nav {
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 136, 0);
    border-radius: 20px;
    border-style: none ;
    padding: 10px 15px;
    text-decoration: none;
}

#button1 {
    display: flex;
    margin-top: 40px;
    justify-content: left;
    flex-direction: row;
}

.arrow {
    padding-left: 15px;
}

#mid1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 600px;
    margin-top: 150px;
    margin-left: 150px;
}

#subtitulo1 {
    display: flex;
    justify-content: left;
    background: linear-gradient(45deg, rgb(255, 167, 66), rgb(255, 136, 0));  
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

#texto1{
    display: flex;
    line-height: 25px;
}

#imagen1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    flex-direction: row-reverse;
    width: 400px;
}

footer {
    background: linear-gradient(to right, rgb(255, 184, 103), rgb(255, 136, 0));
}