* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    flex-direction: column;
    color: #FF7A00;;
    background-image: url(/Assets/images/bgHeader.png);
    background-position: center;
    height: 780px;
    width: 100%;
    justify-content: center;
}

h1 {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 80px;
    justify-content: center; 
    margin-bottom: 20px;   
}

h2 {
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 110px;
    color: rgb(112, 112, 112);
}

nav {
    display: flex;
    justify-content: center;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    display: flex;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, #fea047, #FF7A00);
    border-radius: 20px;
    border-style: none ;
    padding: 10px 15px;
    text-decoration: none;
}

#button1 {
    display: flex;
    margin-top: 40px;
    justify-content: left;
    flex-direction: row;
}

.arrow {
    padding-left: 15px;
}

#mid1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 480px;
    margin-top: 150px;
    margin-left: 150px;
    height: 400px;
}

#subtitulo1 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: left;
    background: linear-gradient(90deg, #fb973a, #FF7A00);  
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

#texto1{
    display: flex;
    line-height: 25px;
    margin-top: 25px;
}

.section1 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    height: auto;
}

.imagen01 {
    margin: 50px 0px;
    margin-right: 150px;
    height: 600px;
}

img {
    display: flex;
    height: 531px;
    width: 413px;
}

#button2 {
    display: flex;
    margin-top: 40px;
    justify-content: left;
    flex-direction: row;
}

#mid2 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 480px;
    margin-top: 100px;
    margin-right: 50px;
    height: 400px;
}

#subtitulo2 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: left;
    background: linear-gradient(90deg, #fb973a, #FF7A00);  
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

#texto2{
    display: flex;
    line-height: 25px;
    margin-top: 25px;
}

.section2 {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    height: auto;
}

.imagen02 {
    margin: 50px 0px;
    margin-left: 100px;
}

#subtitulo3 {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    justify-content: left;
    background: linear-gradient(90deg, #fb973a, #FF7A00);  
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

.section3 {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-image: url(/Assets/images/bgDown.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: flex-start;
}

#mid3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 480px;
    margin-top: 150px;
    margin-left: 300px;
    height: 500px;
}

#texto3 {
    display: flex;
    line-height: 25px;
    margin-top: 25px;
    width: 450px;
}

footer {
    background: linear-gradient(90deg, #fb973adf, #ff7b00df); /* Color naranja */
    color: white;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite adaptarse en pantallas pequeñas */
  }
  
  .footer-section {
    width: 20%; /* Ajusta el ancho de cada columna */
    min-width: 150px; /* Asegura que no se colapsen */
  }
  
  .footer-section h3 {
    font-size: 17px;
    margin-bottom: 15px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    display: flex;
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    text-decoration: none;
    background: transparent;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
.footer-bottom {
    display: flex;
    background: linear-gradient(90deg, #fb973adf, #ff7b00df); ;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    font-size: 11px;
    box-shadow: 5px 5px 5px 5px rgba(139, 71, 11, 0.3);
    transition: box-shadow 0.3s ease;
}

#email {
    display: inline;
    margin: 0;
    padding:  0;
    border: none;
    background: transparent;
}